@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');



    html{
        background-image: url('../images/background.jpg');
    }

    body {
        font-family: "roboto";
        margin: 0;
        background-image: radial-gradient(white 80%, rgba(0,0,0,0));
    }

    #choiceLevel {
        width: 10vw;
        display: flex;
        flex-direction: column;
    }

    #container {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    button {
        padding:1%;
        margin: 3%;
        border-radius: 12px;
        border: 2px solid rgb(134, 21, 134);
        background-color: white;
        font-size: 20px;
    }


    #music {
        background: white;
        margin: 0 10vw;
        background: none;
        display: flex;
        justify-content: space-between;
        
    }

    #game {
        margin : auto;
        flex: 1;
        text-align: center
    }

    #controls {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #controls section {
        display: flex;
        width: 30vw;
        justify-content: space-between;
    }


    .fleche {
        display: flex;
    }
    .fleche >img{
        object-fit: contain;
    }


    .valid {
        background-color: rgba(134, 21, 134, 0.25);
    }

    .on {
        display: flex;
    }

    .instructionon {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;

    }

    .onun>button,
    .ondeux>button,
    .ontrois>button,
    .onquatre>button,
    .oncinq>button {
        height: 5vh;
        margin-left: 0;
    }

    .onun,
    .ondeux,
    .ontrois,
    .onquatre,
    .oncinq {
        position: absolute;
        height: 30vh;
        width: 30vw;
        display: flex;
        border-radius: 12px;
        border: 2px solid rgb(134, 21, 134);
        background-image: url('../images/instrBackground.png');
        background-size: cover;
        background-repeat: no-repeat;

    }

    .onun {
        top: 15vh;
        left: 10vw;
    }

    .ondeux {
        top: 45vh;
        left: 10vw;
    }

    .ontrois {
        top: 45vh;
        left: 50vw;

    }

    .onquatre {
        top: 15vh;
        left: 50vw;
    }

    .oncinq {
        top: 15vh;
        left: 30vw;
    }

    footer {
        background: white;
        padding-top: 10px;
        display: flex;
        margin: auto;
        margin-top : 0;
        width: 50vw;
        border-top: 1px solid rgb(134, 21, 134);
        justify-content: space-between;
    }

    .logoGithub {
        object-fit: contain;
        width: 50px;
    }

    .logoLikdn {
        object-fit: contain;
        width: 50px;
    }

    .links {
        object-fit: contain;
        width: 7vw;
        display: flex;
        justify-content: space-between;
    }

    #trompette, #piano{
        width : 115px;
        height: 115px;
    }

    .choice{
        display:flex;
        margin: 0 10vw;
    }
    #choiceInstr{
        display: flex;
        margin-left: auto;
        width : 20vw;
        height: 8vh;
    }
