@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
html,
body {
  font-family: "roboto";
  margin: 0;
  background-image:url('../images/background.jpg');
}

#choiceLevel{
    width: 10vw;
    display : flex ;
    flex-direction: column;
}

#container{
    margin: 0px 10vw;
    height : 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

button {
    padding: 1%;
    margin: 5%;
    border-radius: 12px;
    border : 2px solid rgb(134, 21, 134);
    background-color:white;
    font-size: 20px;
}

#music {
    background: none;
    display: flex;
    width: 70vw;
    justify-content: space-between;
    
}



#controls {
  display : flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
}

#controls section {
    display : flex; 
    width: 30vw;
    justify-content: space-between;
}


.fleche{
    display: flex;  
}

#background {
    height : 100vh;
    width : 100vw;
    background: radial-gradient(white 55%, rgba(0,0,0,0) );
}

.valid{
    background-color: rgba(134, 21, 134, 0.25);
}

#portee{
    
}

.instruction{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    border: 1px solid green;
    
}

.on .un{
    position: absolute;
    top : 10vh;
    left: 20vw;
    width: 25vw;
    height: 25vh;
    border: 1px solid blue;
}

.on > img{
    width: 10vw;
}
